# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
venv_api/
venv_project/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node (if any)
node_modules/
